/* ALTERAR PARA TODOS OS ELEMENTOS */
html * {
    /* RESETAR A MARGEM */
    margin: 0px;
    /* LARGURA MÁXIMA DOS ELEMENTOS */
    max-width: 100%;
}

body{
    /* COR DE FUNDO */
    background-color: rgb(21, 33, 26);
}

#titulo{
    background-color: rgb(39, 58, 45);
    margin-bottom: 0px;
    border-top: 10px solid rgb(109, 143, 118);
    padding: 20px;

    display: grid;
    text-align: center;
}

#titulo h{
    color: rgb(187, 197, 160);
    font-size: 120px;

}

#titulo h2{
    color: rgb(187, 197, 160);
    text-decoration: none;
}


#menu{
    background-color: rgb(109, 143, 118);
    margin-bottom: 0px;
    border-top: 10px solid rgb(39, 58, 45);
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    text-align: center;
}

#menu a{
    color: rgb(21, 33, 26);
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
}

#texto{
    background-color: rgb(109, 143, 118);
    margin-bottom: 20px;
    border-bottom: 10px solid rgb(39, 58, 45);
    padding: 10px;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    text-align: center;
}

#texto p{
    color: rgb(21, 33, 26);
    text-decoration: none;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 40em
}



#menu a:hover {
    color: rgb(187, 197, 160);
    background-color: rgb(135, 125, 53);
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}


.principal {
    /* ATIVAR O MODO GRID (LINHAS E COLUNAS) */
    display: grid;

    /* ELEMENTOS DENTRO DA CLASSE PRINCIPAL NO FORMATO DE 3 COLUNAS */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);

    /* ESPAÇAMENTO ENTRE COLUNAS E LINHAS DO GRID */
    gap: 20px;
}

    .item{
        background-color: rgb(109, 143, 118);
        font-family: sans-serif;
        text-transform: uppercase;
        margin: 20px;
        color: rgb(39, 58, 45);
        border-top: 20px solid rgb(39, 58, 45);
        border-radius: 5%;
        text-align: center;
    }

    .rodape {
        background-color: rgb(39, 58, 45);
        height: 50px;
    
        display: grid;
        justify-content: center;
        align-content: center;
    
    }

    .rodape p{
        color: rgb(187, 197, 160);
        text-decoration: none;
    }
    